body{
    background-color: lightgrey !important;
    background: url(images/background.jpg)center center/cover;
}
h1{
    padding: 50px 0;
    font-size: 60px !important;
    color: brown !important;
}
#truth, #dare{
    color: rgb(125, 107, 241);
}
#display{
    font-size: 40px;
    padding: 50px 10px !important;
}
button{
    color: white !important;
    background-color: royalblue;
    font-size: 30px !important;
    font-weight: bold;
    padding: 20px 40px;
}
button:hover{
    background-color: purple;
    color: white;
}